langchain
langchain-core
langchain-community
langchain-groq
langchain-text-splitters
langchain-qdrant
qdrant-client
streamlit
jupyter
python-dotenv
ipykernel
langsmith
portkey-ai
langchain-openai
openevals
